body {
    background-color: #010201;
  }
  
  .button{
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 50px;
    
    }
    .button button{
      font-size: 40px;
      color: blue;
      cursor: pointer;
      font-weight: 600;
      padding: 70px;
      margin-top: 40px;

    }
    .button button:hover{
      color: chartreuse;
      background-color: rgb(50, 100, 153);
    }
